.table-container {
  margin-top: 20px;
  overflow-x: auto; /* Add horizontal scrollbar */
  width: 100%; /* Set width to 100% */
}

table {
  width: max-content; /* Set table width to expand to its content */
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

button {
  padding: 8px 16px;
  margin: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

















.form__row {
  position: relative;
  margin-bottom: 20px; /* Adjust as needed */
}


.dropdown {
  position: absolute;
  top: calc(100% + 5px); /* Adjust as needed */
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc; /* Adjust as needed */
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adjust as needed */
  z-index: 1000; /* Adjust as needed */
}

.search-bar {
  padding: 10px;
  border-bottom: 1px solid #ccc; /* Adjust as needed */
}

.search-bar input {
  width: calc(100% - 70px); /* Adjust as needed */
  padding: 8px;
  border: 1px solid #ccc; /* Adjust as needed */
  border-radius: 4px;
  margin-right: 10px;
}

.close-icon {
  background: none;
  border: none;
  color: #007bff; /* Adjust as needed */
  cursor: pointer;
}

.close-icon:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul > div {
  padding: 10px;
  border-bottom: 1px solid #ccc; /* Adjust as needed */
}

ul > div:last-child {
  border-bottom: none;
}

ul > div span {
  cursor: pointer;
}

ul > div span:hover {
  text-decoration: underline;
}




.dropdown {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 350px; /* Adjust the max height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
}

.dropdown-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dropdown-list > div {
  padding: 10px;
  border-bottom: 2px solid #ccc;
}

.dropdown-list > div:last-child {
  border-bottom: none;
}

.dropdown-list > div span {
  cursor: pointer;
}

.dropdown-list > div span:hover {
  text-decoration: underline;
}



